[Desktop Entry]
Type=Application
Version=1.0
Name=${P_DISPLAY}
GenericName=${P_GENERIC}
Comment=${P_DISPLAY} (unofficial Linux package)
Exec=/usr/bin/${P_BIN} %U
Icon=${P_ICON}
StartupNotify=true
StartupWMClass=${P_WMCLASS}
Categories=Development;IDE;Utility;
Terminal=false
MimeType=x-scheme-handler/${P_SCHEME};
